body, html {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Center the logo section */
.logo-section {
    position: absolute;
    top: 40%; /* Adjust this value to move the logo up/down */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.logo {
    max-width: 50%;
    height: auto;
}

/* Sub-section with grid image attached and full width */
.sub-section {
    width: 100%;
    height: 90vh;
    background-color: black;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    overflow: hidden;
}

/* Grid section */
.grid-section {
    width: 100%; /* Make the grid section take full width of sub-section */
    height: auto; /* Allow the height to grow proportionally */
    position: relative;
    top: 0;
}

/* Grid image that fully covers the grid section */
.grid-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the grid-section */
    z-index: -1;
}

/* Circle container to position the circle and images */
.circle-container {
    position: relative;
    text-align: center;
}

/* Circle styling */
.circle {
    width: 1200px;
    height: 1000px;
    border-radius: 50%;
    position: relative;
    top: -50%; /* Adjust to position the circle */
    left: 50%;
    transform: translate(-51%, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-51%, 70%) rotate(0deg);
    }
    to {
        transform: translate(-51%, 70%) rotate(360deg);
    }
}

/* Top image positioned above the circle */
.moon-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Adjust spacing between the image and the circle */
}

/* Responsive design adjustments */
@media screen and (min-width: 480px) and (max-width: 1200px) {
    .logo-section {
        position: absolute;
        transform: translate(-50%, -100%);
    }

    .sub-section {
        height: 50vh;
        width: 100%;
    }

    .circle {
        width: 420px;
        height: 420px;
        top: 100%;
    }

    .moon-image {
        max-width: 90%;
    }
}
